# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
tts-venv/
__pycache__/
*.pyc

# Jupyter Notebooks
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs and temp
*.log
*.tmp
*.temp
*.swp

# Local config
config.toml
.env.*

# VSCode
.vscode/
